{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto p-5 mt-10">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <img src="{% static 'images/default-culinary.jpg' %}" alt="{{ article.title }}" class="w-full h-auto rounded-lg mb-5 object-cover">
        <h1 class="text-4xl font-bold mb-5">{{ article.title }}</h1>
        <p class="text-sm text-gray-500 mb-5">Diterbitkan pada {{ article.publication_date }}</p>
        <div class="prose max-w-none">
            {{ article.content }}
        </div>
    </div>
</div>

{% endblock content %}