{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    
    <!-- Load Poppins Font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Tailwind Custom Configuration for Poppins Font -->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              poppins: ['Poppins', 'sans-serif'],
            }
          }
        }
      }
    </script>

    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
  </head>
  <body class="font-poppins">

    <!-- Content Block -->
    {% block content %} 
    {% endblock content %}

  </body>
</html>
